@charset "utf-8";

:root{
  --main1_color:#F0EDE8;
  --txt_color:#4A4645;
}
/* color:var(--main1_color); */

html,body,h1,h2,h3,h4,p,ul,li,dd,dt,dl{
margin: 0;
padding: 0;
color: #333;
}

ul{
list-style: none;
}

a{
text-decoration: none;
}

img{
vertical-align: bottom;
}

*{
  box-sizing: border-box;
}


h1{
  text-align: center;
}